/* font format */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* format for nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #e388ff;
  display: flex;
  justify-content: center; 
  width: 100%;
}

ul li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #8867ec;
}

/* ul li:first-child {
  margin-left: auto;  forces items to the right 
} */

/* flex container contains nav bar links (each is a flex item) */
/* .flex-container {
  display: flex;
  justify-content: flex-end; 
} 
*/