/* font format */
body {
    font-family: "Gill Sans", Helvetica, Arial, sans-serif;
    font-size: 23px;
}

h1 {
    font-size: 35px
}

h2 {
    font-size: 30px
}

/* ================================== */


/* format for nav bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #cab5ff;
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #bda4fd
}

/* ================================== */


/* control of two columsn of webpage */

.columns {
    display: flex;
    /* Makes the child elements sit side by side */
    height: 100vh;
    /* Makes the container take up the full height of the viewport */
}

.left-section {
    flex: 3;
    background-color: #ffffff;
}

.right-section {
    flex: 1;
    background-color: #ffffff;
}

.right-section img {
    width: 20vw;
    height: auto;

    display: block;
    margin: auto;
    padding-top: 20px
        /* justify-content: center; */
}

/* ================================== */


/* headshot */
.headshot {
    width: 20vw;
    height: auto;
}

/* ================================== */



/* social media icons */
ion-icon {
    font-size: 64px;
    color: black;
}

footer ul {
    /* Pushes the footer to the bottom, below all other content */
    margin-top: auto;

    /* Optional: Add some padding and background for visibility */
    padding: 3px;
    background-color: #cab5ff;
    width: 100%;
    gap: 20px;
}

footer ul li a:hover {
    background-color: #bda4fd;
}

/* ================================== */

/* display resume */
.resume-page {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.resume-page .resume-pdf {
    width: 100%;
    height: 100%;
    border: none;
}


/* ul li:first-child {
  margin-left: auto;  forces items to the right 
} */

/* flex container contains nav bar links (each is a flex item) */
/* .flex-container {
  display: flex;
  justify-content: flex-end; 
} 
*/