#hobbies-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-container img {
    width: 100%;
    height: 350px;
    display: block;
    object-fit: cover;
}

figure {
    margin: 0;
    /* Remove default margin */
    border: 1px solid #0d2651;
    border-radius: 5px;
    background-color: #0d2651;

    padding: 8px;
    text-align: center;
}

figcaption {
    margin-top: 8px;
}