/* control of two columns of webpage */

/* ================ABOUT + HEADSHOT================== */
.columns {
    display: flex;
    height: 65vh;
    /*edit to make classes closer or farther away*/
}

.columns .left-section {
    flex: 3;
}

.columns .right-section {
    flex: 1;
}

.columns .right-section img {
    width: 20vw;
    height: auto;

    display: block;
    margin: auto;
    padding-top: 20px
        /* justify-content: center; */
}

/* headshot */
.headshot {
    width: 20vw;
    height: auto;
}

/* ================CV AT A GLANCE================== */

.cv-grid-container>* {
    box-sizing: border-box;
    /* Ensures padding and borders are included in element's total width/height */
}

.cv-grid-container {
    display: grid;
    /* This line creates as many columns as will fit, with a minimum width of 250px and a maximum of 1 fractional unit (equal share of remaining space) */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    /* Adds space between grid items */
    padding: 20px;
    padding-bottom: 50px;
    max-width: 1200px;
    /* Optional: sets a maximum width for the entire grid */
    margin: 0 auto;
    /* Optional: centers the grid on the page */
}

.cv-grid-item {
    background-color: #0d2651;
    border: 1px solid #12223e;
    padding: 15px;
    border-radius: 5px;
    /* Prevents content from overflowing if it's too long for the container */
    overflow: auto;
}

.cv-grid-item p {
    margin: 0;
    /* Removes default paragraph margin */
    font-size: 1em;
    /* Ensures text remains readable */
}

/* ================COURSES AT TUFTS================== */

.classes {
    display: flex;
    height: 55vh;
    /* Makes the container take up the full height of the viewport */
}

.classes .comp-sci {
    flex: 1;
    background-color: #ffffff;
}

.classes .emb-sys {
    flex: 1;
    background-color: #ffffff;
}

.classes .other {
    flex: 1;
    background-color: #ffffff;
}

/* ================================== */