/* control of two columns of webpage */

/* ================ABOUT================== */
.about {
    display: block;
    padding: 30px;
}

.about p {
    background-color: #0d2651;
    border-radius: 5px;
    padding: 15px;
}

/* ================TITLE + HEADSHOT================== */

.title h1 {
    font-size: 100px;
    padding-left: 20px;
}

.title h2 {
    font-size: 80px;
    padding-left: 20px;
}

.columns {
    display: flex;
    min-height: 55vh;
    /*edit to make classes closer or farther away*/
}

.columns .left-section {
    flex: 3;
}

.columns .right-section {
    flex: 1;

    padding-top: 20px;
    padding-right: 30px;
}

.columns .right-section img {
    width: 100%;
    height: auto;

    display: block;
    margin: auto;
    /* padding-top: 20px;
    padding-right: 30px; */
    border-radius: 5px;

    /* justify-content: center; */
}

/* headshot */
.headshot {
    width: 100%;
    height: auto;
}

/* ================CV AND COURSES GRIDS================= */
#cv-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

#courses-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}