/* PROJECTS */
/* collapsibles */

details {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

summary {
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    outline: none;
    /* Optional: removes the outline when focused */
}

/* change the background when the details section is open */
details[open] {
    background-color: #f9f9f9;
}

/* ================================== */