/* font format */
body {
    font-family: monospace;
    font-size: 23px;
    color: white;
    background-color: #050e1d;
}

p {
    font-size: 30px
}

h1 {
    font-size: 45px
}

h2 {
    font-size: 40px
}

/* ================================== */


/* format for nav bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0d2651;
    /*#cab5ff;*/
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #0a1b3a;
    /*#bda4fd*/
}

/* ================================== */

/* social media icons */
ion-icon {
    font-size: 64px;
    color: black;
}

footer ul {
    /* Pushes the footer to the bottom, below all other content */
    margin-top: auto;

    /* Optional: Add some padding and background for visibility */
    padding: 3px;
    background-color: #0d2651;
    width: 100%;
    gap: 20px;
}

footer ul li a:hover {
    background-color: #0a1b3a;
}

/* ================================== */