/* PROJECTS */
/* collapsibles */

details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

summary {
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    outline: none;
    /* Optional: removes the outline when focused */
}

summary:hover {
    background-color: #0a1b3a;
    border-radius: 5px;
}

/* change the background when the details section is open */
details[open] {
    background-color: #0d2651;

}

/* ================================== */